<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update Autotransition</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5" >
		<h2 class="mb-5">Update Autotransition</h2>
		<div class="row">
			<div class="col-md-12">
				<form action="#" th:object="${autotransition}" th:action="@{/autotransition/update/{id}(id=${autotransition.autotranId})}" method="post" >
					<div class="row">
						<div class="form-group col-md-5">
							<label for="autotranName" class="col-form-label">Name</label>
							<input type="text" class="form-control" th:field="*{autotranName}" placeholder="Autotransition Name">
							<span th:if="${#fields.hasErrors('autotranName')}" th:errors="*{autotranName}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-5">
							<label for="autotranIsactive" class="col-form-label">autotranIsactive</label>
							<select th:field="*{autotranIsactive}" class="form-control"
								id="autotranIsactive">
								<option th:each="opt : ${autotranIsactiveList}"
									th:value="${opt}" th:text="${opt}" />
							</select> 
							<span th:if="${#fields.hasErrors('autotranIsactive')}" th:errors="*{autotranIsactive}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-2">
							<label for="autotranId" class="col-form-label">Autotran ID</label>
							<input type="text" class="form-control" id="autotranId" th:field="*{autotranId}" readonly>
							<span th:if="${#fields.hasErrors('autotranId')}" th:errors="*{autotranId}" class="text-danger"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<label for="autotranLogicaloperand" class="col-form-label">autotranLogicaloperand</label>
							<select th:field="*{autotranLogicaloperand}" class="form-control"
								id="autotranLogicaloperand">
								<option th:each="opt : ${autotranLogicaloperandList}"
									th:value="${opt}" th:text="${opt}" />
							</select> 
							<span th:if="${#fields.hasErrors('autotranLogicaloperand')}" th:errors="*{autotranLogicaloperand}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="institution" class="col-form-label">Institution</label>
							<select th:field="*{instInstId}" class="form-control"
								id="instInstId">
								<option th:each="inst : ${institutions}"
									th:value="${inst.instId}" th:text="${inst.instName}" />
							</select> 
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<label for="eventstatus1" class="col-form-label">Eventstatus 1</label>
							<select th:field="*{eventstatus1}" class="form-control"
								id="eventstatus1">
								<option th:each="event : ${eventstatusList}"
									th:value="${event.evestatId}" th:text="${event.evestatName}" />
							</select>
							
						</div>
						<div class="form-group col-md-6">
							<label for="eventstatus2" class="col-form-label">Eventstatus 2</label>
							<select th:field="*{eventstatus2}" class="form-control"
								id="eventstatus2">
								<option th:each="event : ${eventstatusList}"
									th:value="${event.evestatId}" th:text="${event.evestatName}" />
							</select> 
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-primary" value="Update Autotransition">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Clear">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary" value="Cancel">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>